<div class="container">
  <div class="row">
    <div class="span4 offset1">
      <div class="well">
        <h2 class="muted">Current Predicitons</h2>
         <% @user_predictions.sort.each do |date, prediction| %>
         <ul class="fixture-dates">
           <li><h5><%= date %></h5></li>
          </ul>
          
          <ul class="fixtures">
          <% prediction.each do |prediction| %>
          <li>
            <span class="home-team"><%= prediction.home_team %></span>
            <span class="score">
            <%= prediction.home_score %> -
            <%=  prediction.away_score %>
           </span>
            <span class="away-team"><%= prediction.away_team %></span>
          </li>
         <% end %>
          </ul>
         <% end %>
      </div>
    </div>

    <div class="span4 offset1">
      <div class="well">
        <h2 class="muted">Previous Results</h2>

      </div>

    </div>

  </div>
<div>