    <div class="container">
      <div class="row">
        <div class="span4">
         <div class="well">
          <h2 class="muted">Make Predictions</h2>
           <%= form_tag controller: 'predictions', action: 'create', method: 'post' do %>
          
           <% @fixture_date.sort.each do |date, fixture| %>
           <ul class="fixture-dates">
           <li><h5><%= date %></h5></li>
           </ul>

           <ul class="fixtures">
           <% fixture.each do |fixture|%>
    
           <li>
            <span class="home-team"><%= fixture.home_team %></span> 
            <span class="score">
            <%= text_field_tag "predictions[][home_score]" %> 
            <%= text_field_tag "predictions[][away_score]" %>
            </span>
            <span class="away-team"><%= fixture.away_team %></span> 
          
           </li>
           <%= hidden_field_tag "predictions[][home_team]", fixture.home_team %>
           <%= hidden_field_tag "predictions[][away_team]", fixture.away_team %>

           <%= hidden_field_tag "predictions[][fixture_date]", fixture.fixture_date %>
           <%= hidden_field_tag "predictions[][fixture_id]", fixture.id %>
           <%= hidden_field_tag "predictions[][user_id]", current_user.id %>
          
         
           <% end %>
           </ul>
          <% end %>
          <%= submit_tag "Submit predictions", :class => "btn btn-success btn-large" %>
          <% end %>
        </div>
       </div>


    <div class="span4">
     <div class="well">
      <h2 class="muted">Previous Results</h2>

       <% @result_date.sort.each do |date, results| %>
       <ul class="fixture-dates">
        <li><h5><%= date %></h5></li>
       </ul>

         <ul class="fixtures">
         <% results.each do |result| %>
         <li>
          <span class="home-team"><%= result.home_team %></span>
          <span class="score">
            <%= result.home_score %> -
            <%= result.away_score %>
          </span>
          <span class="away-team"><%= result.away_team %></span>
        </li>
         <% end %>
         </ul>
        <% end %>
      
    </div>
    </div>

    <div class="span4">
    <div class="well">
    <h2 class="muted">Points Earned</h2>
         <% @user_predictions.sort.each do |date, prediction| %>
         <ul class="fixture-dates">
           <li><h5><%= date %></h5></li>
          </ul>
          
          <ul class="fixtures">
          <% prediction.each do |prediction| %>
          <li>
            <span class="home-team"><%= prediction.home_team %></span>
            <span class="score">
            <%= prediction.home_score %> -
            <%=  prediction.away_score %>
           </span>
            <span class="away-team"><%= prediction.away_team %></span>
            <span class="away-team"><%= prediction.score %></span>
          </li>

         <% end %>
          </ul>
         <% end %>
         <div class="span4">

          total points
          <%= @weekly_points %>
         </div>
    </div>
    </div>


   </div>
  </div>
